*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    background-color: var(--baby-powder);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 100px;
}

iframe { 
    width: 500px;
    height: 400px;
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: var(--night);
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

form textarea{
    resize: none;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--plum);
    box-shadow: 0 0 5px rgba(154, 76, 149, 0.5);
}

form button {
    background-color: var(--plum);
    color: var(--baby-powder);
    border: none;
    padding: 10px 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #7d3b73;
}

@media (width < 700px) {
    iframe{
        max-width: 250px;
        height: auto;
        flex-shrink: 1;
    }
}